@charset "UTF-8";

@font-face {
    font-family: "Gilroy";
    src: url(../fonts/Gilroy-Light.ttf);
}

@font-face {
    font-family: "Gilroy eb";
    src: url(../fonts/Gilroy-ExtraBold.ttf);
}

*,
a {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
    color: white;
    font-family: "Gilroy";
}

html,
body {
    height: 100vh;
    background-color: #050544;
}

nav {
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
    justify-content: space-between;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.726);
}

nav>img {
    width: 130px;
}

nav>div {
    display: flex;
    justify-content: center;
}

nav a {
    font-family: "Gilroy eb";
    padding: 10px 16px;
    font-size: 0.7em;
    letter-spacing: 0.1em;
    align-self: center;
    text-align: center;
}

.botão {
    background-color: #B908F6;
    border-radius: 20px;
    font-family: "Gilroy eb";
    transition: 0.5s;
}

.botão:hover {
    background-color: white;
    color: #3d044e;
    transition: 0.5s;
}

#container {
    display: flex;
    flex-flow: column nowrap;
}

#rm {
    display: flex;
    flex-flow: column nowrap;
    justify-content: end;
    height: 87vh;
    background-color: black;
    background-image: url(../imgs/RickAndMorty7_Takeover_mobile_alt_keyart.avif);
    background-size: contain;
    background-repeat: no-repeat;
}

#rm > #foto {
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: end;
    align-items: center;
}

#rm > #foto > img {
    width: 220px
}

div#textos {
    width: 350px;
    display: flex;
    flex-flow: column nowrap;
    align-self: center;
}

div#hadline {
    display: flex;
    flex-flow: column nowrap;
}


div#textos > div#hadline > p {
    text-align: center;
    font-size: 1.2em;
}

div#textos > div#planos {
    display: flex;
    flex-flow: row nowrap;
}

div#textos > div#planos > div {
    width: 50%;
    height: 150px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    align-items: space-evenly;
    padding: 10px;
}

div#pm {
background-image: linear-gradient(to top, black, transparent);}

div#pm > p {
    font-size: 1.2em;
    text-align: right;
    align-self: center;
}

div#pm > p#preco1 {
    text-align: center;
    font-size: 1.4em;
    font-family: "Gilroy eb";
}

div#pa {
    background-image: linear-gradient(to bottom, blueviolet, transparent);
}

div#pa > p#pay {
    font-size: 1.2em;
    text-align: left;
    align-self: center;
    margin: 15px 0px;
}

div#pa > p#preco2 {
    text-align: center;
    font-size: 1.4em;
    font-family: "Gilroy eb";
}

div#pa > #economia {
    width: 170px;
    font-size: 0.8em;
    padding: 1px 0px;
    background-color: #B908F6;
    text-align: center;
    font-family: "Gilroy eb";
    letter-spacing: 0.1em;
    
    transform: translate(10px, 10px);
}

#cta {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

#cta > a {
    background-color: #B908F6;
    width: 80%;
    text-align: center;
    font-family: "Gilroy eb";
    padding: 7px 0px;
    border-radius: 20px;
    margin: 20px 0px;
}

#cta > p {
    text-align: center;
    font-size: 0.7em;
    margin-bottom: 10px;
}